:root {
    /* how to apply these colors: https://m3.material.io/styles/color/roles */

    /* colors */
    --color-primary: #316a42;
    --color-secondary: #506352;
    --color-tertiary: #3a656e;
    --color-error: #ba1a1a;
    /* use color-text-on for text/logos on the above colors */
    --color-text-on: #ffffff;

    --color-background-white: #ffffff;

    --color-background: #f6fbf3;
    /* dim for lower emphasis content */
    --color-background-dim: #d7dbd4;

    --color-background-on: #181d18;
    --color-background-on-dim: #414941;

    /* for containers and buttons that go on background */
    --color-container-primary: #b3f1be;
    --color-container-primary-on: #00210c;

    /* for button hover */
    --color-container-primary-bright: #BDF3C6;

    --color-container-secondary: #d3e8d3;
    --color-container-secondary-on: #0e1f12;

    --color-container-tertiary: #bdeaf5;
    --color-container-tertiary-on: #001f25;

    --color-container-error: #ffdad6;
    --color-container-error-on: #410002;

    --color-shadow: #000000;
    --color-outline: #717971;
    --color-outline-dim: #c1c9bf;

    --color-container-inverse: #2d322d;
    --color-container-inverse-on: #eef2ea;
    --color-container-inverse-on-link: #98d4a3;

    /* fonts */
    --font-header: "Raleway", Arial, Helvetica, sans-serif;
    /* subheader also for buttons, navbar */
    --font-subheader: "Cabin", Noto, sans-serif;
    --font-body: "Roboto", Noto, sans-serif;
}

body {
    font-family: var(--font-body);
    margin: 0;
    position: relative;
    z-index: 1; /* Ensure body content is above the background image */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../image/background.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.2; /* Adjust opacity as needed */
    z-index: -1; /* Ensure the pseudo-element is below the body content */
    pointer-events: none; /* Ensure the pseudo-element does not interfere with user interactions */
}

h1, h2 {
    font-family: var(--font-header);
}

h3 {
    font-family: var(--font-subheader);
}

.badge, .btn {
    font-family: var(--font-subheader);
}

.badge {
    font-size: 1rem;
}

.btn-round {
    border: 1px solid var(--color-background-dim);
    border-radius: 1rem;
    color: var(--color-background-on);
}

.btn-primary {
    background-color: var(--color-container-primary);
    color: var(--color-container-primary-on);
    border-color: var(--color-container-primary);
}

.btn-primary:hover {
    background-color: var(--color-container-primary-bright);
    color: var(--color-container-primary-on);
    border-color: var(--color-container-primary);
}

.color-primary {
    color: var(--color-primary);
}

.color-error {
    color: var(--color-error);
}

.color-filter-secondary-on {
    color: var(--color-container-secondary-on);
}

.form-check-input:checked {
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
}

.color-filter-btn {
    background-color: var(--color-background-dim);
    color: var(--color-background-on-dim);
}

.color-filter-active {
    border-radius: 6px;
    background-color: var(--color-container-secondary);
    color: var(--color-container-secondary-on);
}

.input-group-text {
    border-radius: 5px 0 0 5px;
    background-color: var(--color-container-inverse-on);
}

.fit-content {
    height: fit-content;
}

.filter-name {
    opacity: 90%;
}

div.card {
    border-color: var(--color-outline-dim);
}

.name-emphasis {
    font-weight: 500;
    color: var(--color-secondary);
}

.card-title {
    color: var(--color-background-on);
    font-size: 1rem;
}

.card-dollar-amt {
    font-family: "Roboto";
    font-size: 1rem;
    color: var(--color-primary);
}

.card-currency-amt {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.card-date {
    font-size: 0.8rem;
    opacity: 60%;
}

.icon.size-12 {
    font-size: 12px;
    font-weight: 600;
}
