:root {
  /* how to apply these colors: https://m3.material.io/styles/color/roles */

  --color-primary: rgb(60 96 144);
  --color-secondary: rgb(84 95 113);
  --color-tertiary: rgb(109 86 118);
  --color-error: rgb(186 26 26);
  
  --color-text-on: rgb(255 255 255); /* use on text, logos for above colors */

  --color-background-white: rgb(255 255 255);
  --color-background: rgb(249 249 255);
  --color-background-dim: rgb(217 218 224); /* for lower emphasis content */
  --color-background-on: rgb(25 28 32);
  --color-background-on-dim: rgb(67, 75, 86);

  --color-container-primary: rgb(212 227 255); /* for containers, btn on bg */
  --color-container-primary-on: rgb(33 72 118);
  --color-container-primary-bright: rgb(223, 234, 255); /* for button hover */

  --color-container-secondary: rgb(216 227 248);
  --color-container-secondary-on: rgb(61 71 88);

  --color-container-tertiary: rgb(247 217 255);
  --color-container-tertiary-on: rgb(85 63 94);

  --color-container-error: rgb(255 218 214);
  --color-container-error-on: rgb(147 0 10);

  --color-container-inverse: rgb(46 48 53);
  --color-container-inverse-on: rgb(240 240 247);
  --color-container-inverse-on-link: rgb(165 200 255);

  --color-shadow: rgb(0 0 0);
  --color-outline: rgb(116 119 127);
  --color-outline-dim: rgb(146, 148, 156);

  --font-header: "Nunito", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-subheader: "Cabin", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* also for buttons, navbar */
  --font-body: "Roboto", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-body);
  background-color: rgb(238, 247, 255);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-family: var(--font-header);
}

h3 {
  font-family: var(--font-subheader);
}

.badge, .btn {
  font-family: var(--font-subheader);
}

.badge {
  font-size: 1rem;
}

.btn-round {
  border: 1px solid var(--color-background-dim);
  border-radius: 1rem;
  color: var(--color-background-on);
}

.btn-primary {
  background-color: var(--color-container-primary);
  color: var(--color-container-primary-on);
  border-color: var(--color-container-primary);
}

.btn-primary:hover {
  background-color: var(--color-container-primary-bright);
  color: var(--color-container-primary-on);
  border-color: var(--color-container-primary);
}

.btn-tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-text-on);
  border-color: var(--color-text-on);
}

.btn-tertiary:hover {
  background-color: var(--color-container-tertiary);
  color: var(--color-container-tertiary-on);
  border-color: var(--color-container-tertiary-on);
}

.btn-delete {
  background-color: var(--color-error);
  color: var(--color-container-error);
  border-color: var(--color-container-error);
}

.btn-delete:hover {
  background-color: var(--color-error);
  color: var(--color-container-primary-on);
  border-color: var(--color-container-error);
}

.drop-shadow-btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 01px 3px rgba(0, 0, 0, 0.23);
}
.drop-shadow-btn:hover {
  box-shadow: none;
}

.color-primary {
  color: var(--color-primary);
}

.color-error {
  color: var(--color-error);
}

.color-filter-secondary-on {
  color: var(--color-container-secondary-on);
}

.form-check-input:checked {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
}

.color-filter-btn {
  background-color: var(--color-background-dim);
  color: var(--color-background-on-dim);
}

.color-filter-active {
  border-radius: 6px;
  background-color: var(--color-container-secondary);
  color: var(--color-container-secondary-on);
}

.input-group-text {
  border-radius: 5px 0 0 5px;
  background-color: var(--color-container-inverse-on);
}

.fit-content {
  height: fit-content;
}

.filter-name {
  opacity: 90%;
}

div.card {
  border-color: var(--color-outline-dim);
}

.name-emphasis {
  font-weight: 500;
  color: var(--color-secondary);
}

.card-title {
  color: var(--color-background-on);
  font-size: 1rem;
}

.card-dollar-amt {
  font-family: "Roboto";
  font-size: 1rem;
  color: var(--color-primary);
}

.card-currency-amt {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.card-date {
  font-size: 0.8rem;
  opacity: 60%;
}

.icon.size-12 {
  font-size: 12px;
  font-weight: 600;
}

/* My Trips */
.trip-card {
  /* flex: 0 0 300px; */
  /* margin: 1rem; */
  font-size: 1rem;
  color: var(--color-background-on-dim);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 01px 3px rgba(0, 0, 0, 0.23);
}

.trip-card .card-title {
  font-size: 1.25rem;
}

.trip-card:hover {
  background-color: var(--color-primary);
  color: var(--color-text-on);
  border-color: var(--color-text-on);
  box-shadow: none;

  .card-title {
      color: inherit;
  }
}

.create-trip-card {
  flex: 0 0 300px;
  height: 55px;
  width: 140px;
  margin: 1rem;
  font-size: 1rem;
  background-color: var(--color-container-primary);
  color: var(--color-container-primary-on);
  border-color: var(--color-container-primary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 01px 3px rgba(0, 0, 0, 0.23);
}

.create-trip-card:hover {
  background-color: var(--color-container-primary-bright);
  color: var(--color-container-primary-on);
  border-color: var(--color-container-primary);
  box-shadow: none;
}

.create-trip-card .card-title {
  font-size: 1rem;
}

/* Create Trip */
.create-trip input {
  max-width: 75%;
}

.create-trip img {
  max-height: 10%;
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}

.pointer-cursor {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.background-fill {
  background-color: var(--color-background);
}

/* Icons */
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

.material-icons {
  position: relative;
  top: 5px;
  font-size: 2rem;
}

.icon-center {
  position: relative;
  top: 7px;
}

.github {
  max-width: 1.5rem;
}

/* Header */
.logo {
  font-size: 2rem;
  color: var(--color-text-on)
}

.logo:hover {
  color:var(--color-container-primary)
}

.my-trips-btn {
  font-size: 1.5rem;
  color: var(--color-text-on)
}

.my-trips-btn:hover {
  color:var(--color-container-primary)
}

.header-nav {
  position: static;
  top: 0;
  width: 100%;
  color: var(--color-text-on);
  background-color: var(--color-primary);
  padding: .5rem 3rem .5rem 1rem;
  font-family: var(--font-header);
  font-size: 1.5rem;
}

.nav {
  align-items: center;
}

.nav-item.empty {
  flex: 1;
}

footer {
  color: var(--color-text-on);
  background-color: var(--color-secondary);
  padding: 1rem;
  font-family: var(--font-body);
}

.footer-links a {
  color: var(--color-text-on);
}

.footer-links a:hover {
  color: var(--color-container-primary)
}

main {
  margin-bottom: 2rem;
}

.main-nav nav {
  justify-content: space-between;
}

.nav-link {
  color: #000000;
}

.nav-link.active {
  font-weight: bold; /* Example styling */
  color: var(--color-container-tertiary-on); /* Example styling */
}

.date-filter {
  color: #808080;
}

.bottom-border-only {
  border: none;
  border-bottom: 1px solid #ced4da; /* Adjust the color and width as needed */
  border-radius: 0; /* Remove border radius if you want sharp edges */
}

@media (min-width: 768px) {
  .create-trip input {
      max-width: 30%;
  }
}

@media (min-width: 992px) {
  .create-trip input {
      max-width: 55%;
  }
}
